@using AutoCut.Core.Panels
@using AutoCut.Frontend.Stores.Panels.Actions
@inject IDispatcher Dispatcher

<section>
    <label>
        Length
        <input type="text" inputmode="numeric" @bind="_length"/>
    </label>
    <label>
        Width
        <input type="text" inputmode="numeric" @bind="_width"/>
    </label>
    <label>
        Quantity
        <input type="text" inputmode="numeric" @bind="_quantity"/>
    </label>
    <label>
        Name
        <input type="text" @bind="_name"/>
    </label>
    <label>
        Top
        <input type="checkbox" @bind="_top"/>
    </label>
    <label>
        Bottom
        <input type="checkbox" @bind="_bottom"/>
    </label>
    <label>
        Right
        <input type="checkbox" @bind="_right"/>
    </label>
    <label>
        Left
        <input type="checkbox" @bind="_left"/>
    </label>
    <button type="submit" @onclick="Add">Add</button>
    <button type="reset" @onclick="Reset">Reset</button>
</section>

@code
{
    int _length;
    int _width;
    int _quantity = 1;
    string _name = "name";
    bool _top;
    bool _bottom;
    bool _right;
    bool _left;

    private void Reset()
    {
        _length = 0;
        _width = 0;
        _quantity = 1;
        _name = "name";
        _top = false;
        _bottom = false;
        _right = false;
        _left = false;
    }

    private void Add()
    {
        var panel = new CompressedPanel(
            new Panel(
                new Rectangle(_length, _width),
                new EdgeBanding(_left, _right, _top, _bottom),
                _name),
            _quantity);

    // TODO: Add validation
        Dispatcher.Dispatch(new AddAction(panel));
    }
}