section {
    grid-area: current-visualization;
    background-color: var(--card-background);
    border-radius: 10px;
    border: 1px solid var(--card-border);
    padding: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
}

::deep rect:hover {
    cursor: pointer;
    fill-opacity: .2;
}

::deep svg {
    height: 100%;
}