section {
    grid-area: current-visualization;
    background-color: var(--card-background);
    border-radius: 10px;
    border: 1px solid var(--card-border);
    padding: 15px;
    overflow-y: scroll;
}

:deep rect:hover {
    cursor: pointer;
    fill-opacity: .2;
}