<section>
    <div class="buttons">
        <button @onclick="ShowPanels" class="@(_showPanels ? "active" : "")">
            @Localizer["Panels"]
        </button>
        <button @onclick="ShowCuts" class="@(_showCuts ? "active" : "")">
            @Localizer["Cuts"]
        </button>
    </div>
    <hr/>
    @if (_showPanels)
    {
        <Panels/>
    }
    else if (_showCuts)
    {
        <Cuts/>
    }
</section>

@code
{
    private bool _showPanels = true;
    private bool _showCuts = false;

    private void ShowPanels()
    {
        _showPanels = true;
        _showCuts = false;
    }

    private void ShowCuts()
    {
        _showPanels = false;
        _showCuts = true;
    }
}