@page "/"
@using AutoCut.Frontend.Pages.Index.Components

<main>
    <Tables></Tables>
    <AddPanel></AddPanel>
    <ActionButtons></ActionButtons>
    <CurrentVisualization></CurrentVisualization>
    <VisualizationList></VisualizationList>
</main>