section {
    grid-area: left;
    background-color: var(--card-background);
    border-radius: 10px;
    border: 1px solid var(--bright-border);
    padding: 15px;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--text-gray);
    margin: 15px 0;
}

.buttons {
    display: flex;
    gap: 15px;
    padding: 0 10px;
}

button {
    border: none;
    background: none;
    text-transform: none;
    font-size: 1.5rem;
    padding: 0;
    color: var(--text-gray);
    font-weight: normal;
}

button.active {
    color: var(--text);
    font-weight: bold;
}