.color-provider {
    --background: #000;
    --card-background: #161616;

    --primary: #a3e635;
    --primary-alt: #32cd32;
    --error: hsl(5, 78%, 55%);
    --error-alt: hsl(5, 78%, 45%);

    --text: white
}