@using AutoCut.Frontend.Stores.Panels
@using AutoCut.Frontend.Stores.Panels.Actions
@using AutoCut.Frontend.Localization
@using AutoCut.Frontend.Stores.Optimization.Actions
@inject IDispatcher Dispatcher
@inject IState<PanelsState> PanelsState
@inject IStringLocalizer<GlobalResources> Localizer

<section>
    <button class="optimize"
            @onclick="@OnOptimize">
        @Localizer["Optimize"]
    </button>
    <button class="reset"
            @onclick="@OnReset">
        @Localizer["ResetPanels"]
    </button>
</section>

@code
{
    private void OnOptimize()
    {
        Dispatcher.Dispatch(new OptimizeAction());
    }

    private void OnReset()
    {
        Dispatcher.Dispatch(new ResetAction());
    }
}