@using AutoCut.Core.Optimization
@using AutoCut.Frontend.Stores.Settings
@using AutoCut.Frontend.Stores.Settings.Actions
@inject IDispatcher Dispatcher
@inject IState<SettingsState> SettingsState
@inherits FluxorComponent
<MudStack Justify="Justify.SpaceBetween" Style="height: 100%;">
    <p>
        Blade thickness / Kerf
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"
            Class="mb-8"
            @bind-Value="OptimizerOptions.BladeThickness"/>

        Stock panel size
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            Label="Length"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"/>
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            Label="Width"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"/>
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            Label="Thickness"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"
            Class="mb-8"/>

        Stock panel edge cutting thickness
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"
            Class="mb-8"
            @bind-Value="OptimizerOptions.StockPanelEdgeCuttingThickness"/>

        Edge banding thickness
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"
            Class="mb-8"
            @bind-Value="OptimizerOptions.EdgeBandingThickness"/>
        
        <MudButton
            Variant="Variant.Outlined"
            Color="Color.Success"
            StartIcon="@Icons.Material.Filled.Save"
            Class="mb-8"
            OnClick="UpdateBladeThickness">
            Save
        </MudButton>
    </p>

    <p>
        Copyright &copy; 2023 Kacper Wyczawski
    </p>
</MudStack>

@code
{
    private OptimizerOptions OptimizerOptions { get; set; } = new OptimizerOptions();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            OptimizerOptions = SettingsState.Value.OptimizerOptions;
        }
    }

    private void UpdateBladeThickness()
    {
        Dispatcher.Dispatch(new UpdateOptimizerOptionsAction(OptimizerOptions));
    }
}