<MudStack Justify="Justify.SpaceBetween" Style="height: 100%;">
    <p>
        Blade thickness / Kerf
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"
            Class="mb-8"/>

        Stock panel size
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            Label="Length"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"/>
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            Label="Width"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"/>
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            Label="Thickness"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"
            Class="mb-8"/>

        Stock panel edge cutting thickness
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"
            Class="mb-8"/>

        Edge banding thickness
        <MudNumericField
            Margin="Margin.Dense"
            T="decimal"
            AdornmentText="mm"
            Adornment="Adornment.End"
            AdornmentColor="Color.Info"
            Class="mb-8"/>
    </p>

    <p>
        Copyright &copy; 2023 Kacper Wyczawski
    </p>
</MudStack>