@using AutoCut.Frontend.Stores.Panels
@inherits FluxorComponent
@inject IState<PanelsState> PanelsState

<table>
    <thead>
    <tr>
        <th>Length</th>
        <th>Width</th>
        <th>Quantity</th>
        <th>Name</th>
        <th>Edge banding</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var panel in PanelsState.Value.Panels)
    {
        <tr>
            <td>@panel.Panel.Rectangle.Length</td>
            <td>@panel.Panel.Rectangle.Width</td>
            <td>@panel.Quantity</td>
            <td>@panel.Panel.Name</td>
            <!-- TODO: Add edge banding -->
            <td>icon</td>
        </tr>
    }
    </tbody>
</table>