@page "/"
@using AutoCut.Frontend.Components.Tables
@using AutoCut.Frontend.Components.Visualization
@using AutoCut.Frontend.Components.AddPanel
@using AutoCut.Frontend.Components.ActionButtons

<main>
    <Tables></Tables>
    <AddPanel></AddPanel>
    <ActionButtons></ActionButtons>
    <CurrentVisualization></CurrentVisualization>
    <VisualizationList></VisualizationList>
</main>