header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    height: 60px;
    padding: 0 20px;
}

h1 {
    font-size: 50px;
}

h1 > .normal {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    color: var(--text);
}

h1 > .fancy {
    font-family: 'Permanent Marker', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(90deg, var(--primary), var(--primary-alt));
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
}

.button svg {
    height: 30px;
    color: var(--text);
}

.button.settings svg {
    transition: transform 0.2s;
}

.button svg:hover {
    transform: scale(1.1);
}

.button.settings svg:hover {
    transform: rotate(90deg);
}